#imagen {
    background-image: url(../img/observatory.jpg);
    background-position: center;
  
}

#imagen h1 {
text-align: center;
font-size: 10rem;
color: aqua;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

} 

@media screen and (max-width: 400px) {#imagen h1  {
color: aqua;
text-align: center;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
margin-top: 3rem;
font-weight: 700;
font-size: 2rem; } 
}

.navbar {
   
    justify-content: center;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: black;
    max-width: 100%;
    
 
 }
 
 
 .navbar li{
 
     display: flex;
   margin-left: 1rem;
   margin-right: 1rem;
     font-size: 1.6rem; 
   text-align: center;
     font-family:'Poppins', sans-serif;
     padding: .2rem 1rem;
     max-width: 100%;
    
 }
 
 
@media screen and (min-width: 767px) {
         .navbar {
             flex-direction: row;
             text-align: center;
         }
             
}

.cards-index {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
        
@media screen and (min-width: 992px) {
        .cards-index {
            flex-direction: row;
        }
            
}
        
.cards-index img {
            height: 400px;
            width: 400px;
        }
        
        .boton-mas {
           
            width: 200px;
            align-items: center;
        }
        