
@import "comunes";
@import "main";
@import "galeria";
@import "contacto";
@import "QuienesSomos";
@import "noticias";









     
  
     
   



#footer{
 
    font-size: 2rem;
    text-align: center;
    color: beige;
}







.mainImage {
    max-width: 100%;
}
